@use '../../../../variables.scss' as var;

.loading-view {
  display: grid;
  place-items: center;
  width: 100%;
  height: 90%;
}

mat-card {
  width: 85%;
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: var.$spacing-4 !important;
}
