mat-card {
  border-radius: 25px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

mat-card-content #table-responsive {
  width: 100%;
  overflow-x: scroll;
}

.mat-column-actions {
  text-align: center;
  width: 150px;
  white-space: nowrap;
}
