<app-navbar></app-navbar>

<main *ngIf="viewState === 'ready'" class="mx-3 my-3">
  <mat-card class="mx-4 mt-5">
    <mat-card-header>
      <mat-card-title class="inline-flex-aligned">
        <mat-icon svgIcon="package-variant-closed-check" class="ml-3 mr-2"> </mat-icon>
        Gestionar compras
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="table-responsive">
        <table mat-table [dataSource]="tablePurchases">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let purchase">
              {{ purchase.purchaseDate | date : 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let purchase">€ {{ purchase.total | number : '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="payment-info">
            <th mat-header-cell *matHeaderCellDef>Pagado con</th>
            <td mat-cell *matCellDef="let purchase">
              {{ cardsService.getCardBrandByNumber(purchase.paymentCard.number).brand }}
              {{ purchase.paymentCard.number | maskedCardNumber : 9 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="products">
            <th mat-header-cell *matHeaderCellDef>Productos</th>
            <td mat-cell *matCellDef="let purchase">
              {{ purchase | countPurchasedProducts }} producto/s
            </td>
          </ng-container>

          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <td mat-cell *matCellDef="let purchase">
              {{ purchase.user.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let purchase">
              <button mat-icon-button color="primary" (click)="viewProducts(purchase)">
                <mat-icon svgIcon="package-variant"> </mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deletePurchase(purchase)">
                <mat-icon svgIcon="delete"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
        [length]="purchases.length"
        (page)="selectPage($event)"
        class="mt-3"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</main>

<app-loading-view
  view="compras"
  [state]="viewState"
  *ngIf="viewState !== 'ready'"
></app-loading-view>

<app-error-dialog></app-error-dialog>
<app-loading-dialog></app-loading-dialog>
