@use './variables.scss' as var;

.text-accent {
  color: var.$accent !important;
}

.text-bg-accent {
  background-color: var.$accent !important;
  color: var.$black !important;
}

.text-primary {
  color: var.$primary !important;
}

.text-bg-primary {
  background-color: var.$primary !important;
  color: var.$white !important;
}

.text-warn {
  color: var.$warn !important;
}

.text-bg-warn {
  background-color: var.$warn !important;
  color: var.$white !important;
}

.text-muted {
  color: var.$muted !important;
}

.text-white {
  color: var.$white !important;
}

.text-center {
  text-align: center;
}

.badge-primary {
  background-color: var.$primary !important;
  color: var.$white !important;
  border-radius: var.$spacing-3;
  padding-left: var.$spacing-2;
  padding-right: var.$spacing-2;
  padding-top: var.$spacing-1;
  padding-bottom: var.$spacing-1;
  font-weight: 700;
}

.badge-accent {
  background-color: var.$accent !important;
  color: var.$black !important;
  border-radius: var.$spacing-3;
  padding-left: var.$spacing-2;
  padding-right: var.$spacing-2;
  padding-top: var.$spacing-1;
  padding-bottom: var.$spacing-1;
  font-weight: 700;
}
