@use './variables.scss' as var;

.mr-5 {
  margin-right: var.$spacing-5 !important;
}

.mr-4 {
  margin-right: var.$spacing-4 !important;
}

.mr-3 {
  margin-right: var.$spacing-3 !important;
}

.mr-2 {
  margin-right: var.$spacing-2 !important;
}

.mr-1 {
  margin-right: var.$spacing-1 !important;
}

.ml-5 {
  margin-left: var.$spacing-5 !important;
}

.ml-4 {
  margin-left: var.$spacing-4 !important;
}

.ml-3 {
  margin-left: var.$spacing-3 !important;
}

.ml-2 {
  margin-left: var.$spacing-2 !important;
}

.ml-1 {
  margin-left: var.$spacing-1 !important;
}

.mt-5 {
  margin-top: var.$spacing-5 !important;
}

.mt-4 {
  margin-top: var.$spacing-4 !important;
}

.mt-3 {
  margin-top: var.$spacing-3 !important;
}

.mt-2 {
  margin-top: var.$spacing-2 !important;
}

.mt-1 {
  margin-top: var.$spacing-1 !important;
}

.mb-5 {
  margin-bottom: var.$spacing-5 !important;
}

.mb-4 {
  margin-bottom: var.$spacing-4 !important;
}

.mb-3 {
  margin-bottom: var.$spacing-3 !important;
}

.mb-2 {
  margin-bottom: var.$spacing-2 !important;
}

.mb-1 {
  margin-bottom: var.$spacing-1 !important;
}

.ma-1 {
  margin: var.$spacing-1 !important;
}

.ma-2 {
  margin: var.$spacing-2 !important;
}

.ma-3 {
  margin: var.$spacing-3 !important;
}

.ma-4 {
  margin: var.$spacing-4 !important;
}

.ma-5 {
  margin: var.$spacing-5 !important;
}

.mx-1 {
  margin-left: var.$spacing-1 !important;
  margin-right: var.$spacing-1 !important;
}

.mx-2 {
  margin-left: var.$spacing-2 !important;
  margin-right: var.$spacing-2 !important;
}

.mx-3 {
  margin-left: var.$spacing-3 !important;
  margin-right: var.$spacing-3 !important;
}

.mx-4 {
  margin-left: var.$spacing-4 !important;
  margin-right: var.$spacing-4 !important;
}

.mx-5 {
  margin-left: var.$spacing-5 !important;
  margin-right: var.$spacing-5 !important;
}

.my-1 {
  margin-top: var.$spacing-1 !important;
  margin-bottom: var.$spacing-1 !important;
}

.my-2 {
  margin-top: var.$spacing-2 !important;
  margin-bottom: var.$spacing-2 !important;
}

.my-3 {
  margin-top: var.$spacing-3 !important;
  margin-bottom: var.$spacing-3 !important;
}

.my-4 {
  margin-top: var.$spacing-4 !important;
  margin-bottom: var.$spacing-4 !important;
}

.my-5 {
  margin-top: var.$spacing-5 !important;
  margin-bottom: var.$spacing-5 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ma-0 {
  margin: 0 !important;
}

.pr-5 {
  padding-right: var.$spacing-5 !important;
}

.pr-4 {
  padding-right: var.$spacing-4 !important;
}

.pr-3 {
  padding-right: var.$spacing-3 !important;
}

.pr-2 {
  padding-right: var.$spacing-2 !important;
}

.pr-1 {
  padding-right: var.$spacing-1 !important;
}

.pl-5 {
  padding-left: var.$spacing-5 !important;
}

.pl-4 {
  padding-left: var.$spacing-4 !important;
}

.pl-3 {
  padding-left: var.$spacing-3 !important;
}

.pl-2 {
  padding-left: var.$spacing-2 !important;
}

.pl-1 {
  padding-left: var.$spacing-1 !important;
}

.pt-5 {
  padding-top: var.$spacing-5 !important;
}

.pt-4 {
  padding-top: var.$spacing-4 !important;
}

.pt-3 {
  padding-top: var.$spacing-3 !important;
}

.pt-2 {
  padding-top: var.$spacing-2 !important;
}

.pt-1 {
  padding-top: var.$spacing-1 !important;
}

.pb-5 {
  padding-bottom: var.$spacing-5 !important;
}

.pb-4 {
  padding-bottom: var.$spacing-4 !important;
}

.pb-3 {
  padding-bottom: var.$spacing-3 !important;
}

.pb-2 {
  padding-bottom: var.$spacing-2 !important;
}

.pb-1 {
  padding-bottom: var.$spacing-1 !important;
}

.pa-1 {
  padding: var.$spacing-1 !important;
}

.pa-2 {
  padding: var.$spacing-2 !important;
}

.pa-3 {
  padding: var.$spacing-3 !important;
}

.pa-4 {
  padding: var.$spacing-4 !important;
}

.pa-5 {
  padding: var.$spacing-5 !important;
}

.px-1 {
  padding-left: var.$spacing-1 !important;
  padding-right: var.$spacing-1 !important;
}

.px-2 {
  padding-left: var.$spacing-2 !important;
  padding-right: var.$spacing-2 !important;
}

.px-3 {
  padding-left: var.$spacing-3 !important;
  padding-right: var.$spacing-3 !important;
}

.px-4 {
  padding-left: var.$spacing-4 !important;
  padding-right: var.$spacing-4 !important;
}

.px-5 {
  padding-left: var.$spacing-5 !important;
  padding-right: var.$spacing-5 !important;
}

.py-1 {
  padding-top: var.$spacing-1 !important;
  padding-bottom: var.$spacing-1 !important;
}

.py-2 {
  padding-top: var.$spacing-2 !important;
  padding-bottom: var.$spacing-2 !important;
}

.py-3 {
  padding-top: var.$spacing-3 !important;
  padding-bottom: var.$spacing-3 !important;
}

.py-4 {
  padding-top: var.$spacing-4 !important;
  padding-bottom: var.$spacing-4 !important;
}

.py-5 {
  padding-top: var.$spacing-5 !important;
  padding-bottom: var.$spacing-5 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pa-0 {
  padding: 0 !important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.v-align-middle {
  vertical-align: middle;
}

.bottom-actions {
  position: fixed;
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: var.$spacing-4 !important;
  bottom: 0;
  left: 0;
  justify-content: end;
  align-items: center;
}

.bottom-gap {
  margin-bottom: 90px;
}

.w-100 {
  width: 100% !important;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.inline-flex-aligned {
  display: inline-flex !important;
  align-items: center;
}

.flex-aligned {
  display: flex !important;
  align-items: center;
}

.wrap {
  overflow-wrap: anywhere;
}

.icon-sm {
  transform: scale(0.75);
}

.icon-lg {
  transform: scale(1.5);
}

.icon-2x {
  transform: scale(2);
}

.icon-3x {
  transform: scale(3);
}

.show-block-sm {
  display: none !important;

  @media screen and (width > var.$screen-sm) {
    display: block !important;
  }
}

.hide-sm {
  @media screen and (width > var.$screen-sm) {
    display: none !important;
  }
}

.mat-dialog-title {
  display: inline-flex !important;
  align-items: center;
  padding: var.$spacing-2 var.$spacing-1 var.$spacing-2 var.$spacing-3 !important;
}

.mat-dialog-actions,
.mat-card-actions {
  padding: 0 var.$spacing-4 var.$spacing-2 var.$spacing-3 !important;
}
